@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin paragraph-font-style  {
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}
