@import './variables';
@import './mixins';

.logo {
    width: 45%;
}

.about-nav-background {
    background-color: rgb(246, 245, 245) !important;
}

#about-headline-container {
    padding: 0 1rem;
    @include flex-align-center;
    flex-direction: column;
    background-color: rgb(246, 245, 245);
    background-image: url(../../assets/icons/illustrationOne.png),
        url(../../assets/icons/illustration7.png),
        url(../../assets/icons/illustration6.png),
        url(../../assets/icons/icons.png);
    background-size: 20%, 6%, 5%, 10%;
    background-repeat: no-repeat;
    background-position: 10% 35%, 15% -10px, 75% 2%, 95% 32%;


    div {
        padding: 1rem;
        font-size: 18px;
        font-weight: 500;
    }

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
        max-width: 30rem;
    }

    .about-headline-body {
        text-align: center;
        padding: 1rem 0.5rem;
        background-color: $white;
        border: 1px solid rgba(121, 125, 136, 0.2);
        box-shadow: 0px 2px 7px 0px #DEE1E2;
        @include paragraph-font-style;
        color: rgb(74, 74, 74);
    }

    .about-headline-body+p {
        text-align: center;
        margin: 0 2rem;
        padding: 2rem 1rem;
        @include paragraph-font-style;

        @at-root .about-headline-body+p a {
            color: $secondary;
            font-weight: 800;
        }
    }
}

#about-global-DF {
    min-height: 400px;
    padding: 0 1rem;
}

#past-global-drum-fest {
    @include flex-align-center;
    flex-direction: column;
    padding: 1.5rem 0 1rem;
    border-top: 1px solid rgba(121, 125, 136, 0.2);

    p {
        text-align: center;
        @include paragraph-font-style;
    }

    @at-root .past-image-courosal {
        width: 100%;
        border: 1px solid rgba(121, 125, 136, 0.2);
        padding: 1rem;
        margin: 1rem;

        .courosal-image-card {
            height: 200px;
            width: 100%;
            background-color: gray;
            position: relative;
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                // object-position: 10% 10%;                
            }
        }

        @at-root .courosal-image-fade {
            position: absolute;
            background-color: rgba(218, 52, 52, 0.561);
            color: $white;
            width: 100%;
            height: 100%;
            @include flex-center;
            flex-direction: column;
        }
    }
}

.footer {
    @include flex-align-center;
    flex-direction: column;
    background-color: $secondary;
    padding: 1rem;

    h3 {
        color: $light;
    }
}

.about-footer {

    @at-root .brand-support {
        @include flex-align-center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        img {
            min-height: 46px;
            flex-grow: 1 0 auto;
            padding: .5rem .5rem;
        }


    }
}


@media screen and (min-width: $break-point-tablet) {

    #about-headline-container {
        padding: 5rem 10%;
        background-color: rgb(246, 245, 245);
        background-image: url(../../assets/icons/illustrationOne.png),
            url(../../assets/icons/illustration7.png),
            url(../../assets/icons/illustration6.png),
            url(../../assets/icons/icons.png);
        background-size: 6rem, 3%, 2rem, 2.5rem;
        background-repeat: no-repeat;
        background-position: 23% 55%, 15% 25%, 75% 28%, 79% 42%;

        div {
            display: none;
        }

        h1 {
            font-size: 3rem;
            line-height: 4.3rem;
            max-width: 40rem;
        }

        .about-headline-body {
            width: 60%;
            padding: 1.6rem 2.5rem;
        }
    }

    #past-global-drum-fest {
        padding: 2rem 10%;

        h3 {
            font-size: 1.5rem;
            color: $secondary;
        }

        >p {
            font-size: 1.2rem;
            color: $secondary;
        }

        @at-root .past-image-courosal {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .courosal-image-card {
                flex-basis: 47%;
            }
        }

    }

    .about-footer {
        .footer {
            display: none;
        }

        .copyright {
            background-color: $secondary;

            // @media (max-width: 768px) {
            //     background-color: $light;
            // }

            h6 {
                color: $light;
            }
        }
    }
}