@import "./variables";
@import "./function";
@import "./mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* fonts */
.cocogoose-font {
  font-family: 'COCOGOOSE', sans-serif;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

$fonts-weight: (
  "regular": 400,
  "meduim": 500,
  "bold": 700,
);

/* Colors */
.orange-red {
  color: $primary;
}

.black-like {
  color: $secondary;
}

.graylight {
  color: $light;
}

// Navbar section
#nav-container {
  height: 4.5rem;
  padding: 1.5rem;

  .fa-bars {
    color: $secondary;
  }
}

#headline {
  padding: 1rem 0 3.5rem;
  background-color:rgba(255, 255, 255, 0.3);
  position: relative;

  @at-root .back-drop {
    overflow-x: clip;
    width: 100%;

    .headline-bg-image {
      z-index: -3;
      width: 100%;
      position: absolute;
      max-height: 100px;
      top: 0;
      left: 0;
      padding: 10em;
      background-image: url(../../assets/images/DSC_1494-edited-1.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      overflow-x: clip;
    }
  }

  @at-root .faded-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.9));
    z-index: -2;
  }

  * {
    padding: $padding-lr;
  }

  >div {
    font-weight: map-get($fonts-weight, bold);
    font-size: 18px;
  }

  .headline-main-text {
    padding: $padding-lr;
    padding-top: 0.3rem;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    background-image: url(https://images.pexels.com/photos/1458377/pexels-photo-1458377.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: 0% 55%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  h1 + p {
    margin: 1.2rem 0;
    font-size: 14px;
    line-height: 22px;
    padding: 0 24px;
    border: 2px solid $white;
  }

  .venue {
    font-size: 14px;
  }
}

.programs {
  padding: 1.6rem 1.5rem; 
  background-color: $secondary;
  color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .program-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/28/62/WhLiyU.png);
    background-size: cover;
    opacity: 0.052;
  }

  @at-root .thin-line {
    width: 2rem;
    border-bottom: 1px solid $primary;
    margin: 1rem auto;
  }


  @at-root .program-list {
    list-style: none;

    li {
      background: rgba(78, 81, 91, 0.5);
      border-radius: 3px;
      margin-top: 0.5rem;
      padding: 0.75rem;
      display: flex;
    }
  }

  .join-btn {
    padding: 20px;
    background-color: $primary;
    color: $white;
    margin: 2rem 0.9rem auto;
    width: max-content;
    border: none;
    border-radius: 1px;
  }
}

.performing-artists-section {
  min-height: max-content;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 1.5rem;
  height: min-content;
  color: $secondary;

  @at-root .performing-artists {
    list-style: none;

    li {
      display: flex;
    }

    .artist-image {
      min-width: 100px;
      height: 100px;
      flex: 1 1 35%;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 0%;
      }
    }

    .artist-bio {
      flex: 1 0 65%;
      height: 100px;
      overflow: auto;
      margin: 0 0 1rem 1rem;
    }
  }

  .more-btn {
    margin: 12px;
    padding: 12px;
    width: 100%;
    background-color: $white;
    border: 1px solid rgba(78, 81, 91, 0.5);
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(78, 81, 91, 0.8);

    i {
      color: $primary;
    }
  }
}
