
/* fonts */
.cocogoose-font {
    font-family: 'COCOGOOSE', sans-serif;
}

.lato-font {
    font-family: 'Lato', sans-serif;
}

/* Colors */
.orange-red {
    color: #ec5242;
}

.black-like {
    color: #272a31;
}

.graylight {
    color: #d3d3d3;
}