.logo {
  width: 45%;
}

.about-nav-background {
  background-color: #f6f5f5 !important;
}

#about-headline-container {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f5f5;
  background-image: url(../../assets/icons/illustrationOne.png), url(../../assets/icons/illustration7.png), url(../../assets/icons/illustration6.png), url(../../assets/icons/icons.png);
  background-size: 20%, 6%, 5%, 10%;
  background-repeat: no-repeat;
  background-position: 10% 35%, 15% -10px, 75% 2%, 95% 32%;
}

#about-headline-container div {
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
}

#about-headline-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  max-width: 30rem;
}

#about-headline-container .about-headline-body {
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border: 1px solid rgba(121, 125, 136, 0.2);
  -webkit-box-shadow: 0px 2px 7px 0px #DEE1E2;
          box-shadow: 0px 2px 7px 0px #DEE1E2;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  color: #4a4a4a;
}

#about-headline-container .about-headline-body + p {
  text-align: center;
  margin: 0 2rem;
  padding: 2rem 1rem;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}

.about-headline-body + p a {
  color: #272a31;
  font-weight: 800;
}

#about-global-DF {
  min-height: 400px;
  padding: 0 1rem;
}

#past-global-drum-fest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 0 1rem;
  border-top: 1px solid rgba(121, 125, 136, 0.2);
}

#past-global-drum-fest p {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}

.past-image-courosal {
  width: 100%;
  border: 1px solid rgba(121, 125, 136, 0.2);
  padding: 1rem;
  margin: 1rem;
}

.past-image-courosal .courosal-image-card {
  height: 200px;
  width: 100%;
  background-color: gray;
  position: relative;
  margin-bottom: 1rem;
}

.past-image-courosal .courosal-image-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courosal-image-fade {
  position: absolute;
  background-color: rgba(218, 52, 52, 0.561);
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #272a31;
  padding: 1rem;
}

.footer h3 {
  color: #d3d3d3;
}

.brand-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand-support img {
  min-height: 46px;
  -webkit-box-flex: 1 0 auto;
      -ms-flex-positive: 1 0 auto;
          flex-grow: 1 0 auto;
  padding: .5rem .5rem;
}

@media screen and (min-width: 768px) {
  #about-headline-container {
    padding: 5rem 10%;
    background-color: #f6f5f5;
    background-image: url(../../assets/icons/illustrationOne.png), url(../../assets/icons/illustration7.png), url(../../assets/icons/illustration6.png), url(../../assets/icons/icons.png);
    background-size: 6rem, 3%, 2rem, 2.5rem;
    background-repeat: no-repeat;
    background-position: 23% 55%, 15% 25%, 75% 28%, 79% 42%;
  }
  #about-headline-container div {
    display: none;
  }
  #about-headline-container h1 {
    font-size: 3rem;
    line-height: 4.3rem;
    max-width: 40rem;
  }
  #about-headline-container .about-headline-body {
    width: 60%;
    padding: 1.6rem 2.5rem;
  }
  #past-global-drum-fest {
    padding: 2rem 10%;
  }
  #past-global-drum-fest h3 {
    font-size: 1.5rem;
    color: #272a31;
  }
  #past-global-drum-fest > p {
    font-size: 1.2rem;
    color: #272a31;
  }
  .past-image-courosal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .past-image-courosal .courosal-image-card {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .about-footer .footer {
    display: none;
  }
  .about-footer .copyright {
    background-color: #272a31;
  }
  .about-footer .copyright h6 {
    color: #d3d3d3;
  }
}
/*# sourceMappingURL=about.css.map */