* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* fonts */
.cocogoose-font {
  font-family: 'cocogoose', sans-serif;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

/* Colors */
.orange-red {
  color: #ec5242;
}

.black-like {
  color: #272a31;
}

.graylight {
  color: #d3d3d3;
}

#nav-container {
  height: 4.5rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav-container .logo {
  width: 45%;
}

#nav-container .fa-bars {
  color: #272a31;
}

#headline {
  padding: 2rem 1rem 3.5rem;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

.back-drop {
  width: 100%;
}

.back-drop .headline-bg-image {
  z-index: -3;
  width: 100%;
  position: absolute;
  max-height: 100px;
  top: 0;
  left: 0;
  padding: 10em;
  background-image: url(../../assets/images/DSC_1494-edited-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.faded-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to top, white 50%, rgba(255, 255, 255, 0.5));
  z-index: -2;
}

#headline > div {
  font-weight: 700;
  font-size: 18px;
}

#headline .headline-main-text {
  padding-top: 1rem;
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
  background-image: url(https://images.pexels.com/photos/1458377/pexels-photo-1458377.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-position: 0% 55%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#headline .home-headline-body {
  margin: 1.2rem 0;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  padding: 0 24px;
  border: 2px solid #fff;
}

#headline .venue {
  font-size: 14px;
}

.programs {
  padding: 1.6rem 1.5rem;
  background-color: #272a31;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programs .program-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(https://cdn.wallpapersafari.com/28/62/WhLiyU.png);
  background-size: cover;
  opacity: 0.052;
  z-index: 1;
}

.thin-line {
  width: 2rem;
  border-bottom: 1px solid #ec5242;
  margin: 1rem auto;
}

.program-list {
  list-style: none;
  z-index: 2;
}

.program-list li {
  background: rgba(78, 81, 91, 0.5);
  border-radius: 3px;
  margin-top: 0.5rem;
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.program-list li:hover {
  border: 1px solid #fff;
}

.program-list li i {
  min-width: 45px;
  height: 45px;
  background-size: 95%;
  background-repeat: no-repeat;
}

.program-list li h5 {
  font-family: 'cocogoose', sans-serif;
  font-weight: 200;
  color: #ec5242;
  padding: 0 .75rem;
  min-width: 100px;
}

.program-list li p {
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  line-height: 16px;
}

.program-list .solo-icon {
  background-image: url(../../assets/icons/drum-solo.svg);
}

.program-list .shed-icon {
  background-image: url(../../assets/icons/drum-shed.svg);
}

.program-list .exhibition-icon {
  background-image: url(../../assets/icons/Drum-exhibition.svg);
  background-size: 105%;
}

.program-list .master-class {
  background-image: url(../../assets/icons/drum-master-class.svg);
}

.program-list .Meet-up-icon {
  background-image: url(../../assets/icons/meet-up-icon.svg);
}

.programs .join-btn {
  padding: 20px;
  background-color: #ec5242;
  color: #fff;
  margin: 2rem 0.9rem auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  border-radius: 1px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.programs .join-btn:hover {
  opacity: 0.6;
}

.performing-artists-section {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 1.5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: #272a31;
}

.performing-artists {
  list-style: none;
}

.performing-artists li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.performing-artists .artist-image {
  min-width: 100px;
  height: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
}

.performing-artists .artist-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}

.performing-artists .artist-bio {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 65%;
          flex: 1 0 65%;
  height: 100px;
  overflow: auto;
  margin: 0 0 1rem 1rem;
}

.performing-artists p {
  margin-top: .5rem;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  line-height: 16px;
}

.performing-artists-section .more-btn {
  margin: 12px;
  padding: 12px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(78, 81, 91, 0.5);
  font-size: 0.75rem;
  font-weight: 600;
  color: rgba(78, 81, 91, 0.8);
}

.performing-artists-section .more-btn i {
  color: #ec5242;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #272a31;
  padding: 1rem 0;
  width: 100%;
}

.copyright img {
  width: 80px;
}

.copyright h6 {
  padding: 1rem;
  font-size: .6rem;
  color: #fff;
  max-width: 160px;
  line-height: 15px;
}

.navlinks-wrapper {
  display: none;
}

.footer {
  display: none;
}

@media (min-width: 768px) {
  #nav-container {
    padding: 0 10%;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 5px -4px #AAAAAA;
            box-shadow: 0 5px 5px -4px #AAAAAA;
  }
  #nav-container .logo {
    width: 120px;
  }
  #nav-container .hamburger {
    display: none;
  }
  #nav-container .navlinks-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  #nav-container .navlinks-wrapper li {
    padding: 1rem 1.5rem;
    font-weight: bold;
    color: #272a31;
  }
  #nav-container .navlinks-wrapper .nav-join-btn {
    padding: 0 .5rem;
    border: 4px solid #ec5242;
    color: #ec5242;
    background-color: #fff;
  }
  #headline {
    padding: 5.5rem 10% 6rem 10%;
    background-image: url(../../assets/icons/illustration2.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 90vw;
  }
  .back-drop {
    width: 100%;
  }
  .back-drop .headline-bg-image {
    background-position: 0% -10%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .faded-backdrop {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0.6)));
    background: linear-gradient(to top, white 50%, rgba(255, 255, 255, 0.6));
  }
  #headline div {
    font-size: 2rem;
  }
  #headline .headline-main-text {
    font-size: 4rem;
    line-height: 4.3rem;
  }
  #headline .home-headline-body {
    max-width: 38rem;
    border: 3px solid #fff;
    margin: 2rem 0 3rem 0;
  }
  #headline .event-date {
    font-size: 2rem;
  }
  #headline .venue {
    font-size: 1.5rem;
  }
  .programs {
    padding: 2rem 10%;
  }
  .program-header h4,
  .perform-header h4,
  .footer h3 {
    font-size: 1.5rem;
  }
  .programs .program-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .programs .program-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.2rem 0.2rem;
    padding: 2rem;
    max-width: 200px;
  }
  .programs .program-list h5 {
    font-size: 1rem;
    text-align: center;
    margin: .5rem;
  }
  .programs .program-list p {
    text-align: center;
  }
  .programs .join-btn {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .performing-artists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.8rem 10%;
  }
  .performing-artists li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 200px;
    max-width: 210px;
    height: 230px;
    overflow: hidden;
    margin: 0.2rem .3rem;
  }
  .performing-artists li .artist-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0% 0%;
       object-position: 0% 0%;
  }
  .performing-artists li .artist-bio {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 65%;
            flex: 1 0 65%;
    height: 100px;
    overflow: auto;
    margin: 0 0 1rem 1rem;
  }
  .performing-artists li p {
    margin-top: .5rem;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    line-height: 16px;
  }
  .performing-artists-section .more-btn {
    display: none;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #272a31;
    padding: 1rem;
    height: 250px;
  }
  .footer h3 {
    color: #d3d3d3;
  }
  .home-footer .brand-support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem 0 2rem;
  }
  .home-footer .brand-support img {
    min-height: 46px;
    -webkit-box-flex: 1 0 auto;
        -ms-flex-positive: 1 0 auto;
            flex-grow: 1 0 auto;
    padding: .5rem 2rem;
  }
  .copyright {
    padding: 2rem 10%;
    width: 100%;
    background-color: #d3d3d3;
    height: 160px;
  }
  .copyright h6 {
    padding: 1rem;
    font-size: 1.2rem;
    color: #272a31;
    max-width: 100%;
  }
  .copyright img {
    width: 120px;
  }
}
/*# sourceMappingURL=main.css.map */